body {
  background-color: bisque;
}

p {
  text-wrap: balance;
}

.container {
  min-width: 300px;
  max-width: 1200px;
  padding: 16px 16px;
  margin: 0 auto;
}

.breed-select {
  max-width: 900px;
  margin: 30px auto;
}

.cat-info {
  width: 900px;
  margin: 0 auto;
  background-color: whitesmoke;
  border-radius: 8px;
  overflow: hidden;
}

.error {
  display: none;
}

.loader {
  color: transparent;
}

.customLoader {
  margin: 0 auto;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  color: whitesmoke;
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
  0% {
    box-shadow: -38px -12px, -14px 0, 14px 0, 38px 0;
  }
  33% {
    box-shadow: -38px 0px, -14px -12px, 14px 0, 38px 0;
  }
  66% {
    box-shadow: -38px 0px, -14px 0, 14px -12px, 38px 0;
  }
  100% {
    box-shadow: -38px 0, -14px 0, 14px 0, 38px -12px;
  }
}
